@model WebMvc.Models.EventCatalogItem


<form asp-controller="Ticket" asp-action="BuyTicket">
    <img class="esh-catalog-thumbnail" src="@Model.PictureURL" />
    <input class="esh-catalog-button" type="submit" value="Buy Tickets" />
    <div class="esh-catalog-name">
        <span>@Model.Name</span>
    </div>
    <div class="esh-catalog-price">
        <span>@Model.Ticketprice.ToString("N2")</span>
    </div>
    <input type="hidden" asp-for="@Model.Category" name="brand" />
    <input type="hidden" asp-for="@Model.EventCategoryId" name="brandId" />
    <input type="hidden" asp-for="@Model.Place" name="type" />
    <input type="hidden" asp-for="@Model.EventPlaceId" name="typeId" />
    <input type="hidden" asp-for="@Model.Desciprion" name="description" />
    <input type="hidden" asp-for="@Model.Id" name="id" />
    <input type="hidden" asp-for="@Model.Name" name="name" />
    <input type="hidden" asp-for="@Model.PictureURL" name="pictureUrl" />
    <input type="hidden" asp-for="@Model.Ticketprice" name="price" />
</form>